/* src/components/hero.css */

.hero-container {
    position: relative;
    width: 100%;
    height: 400px;
    
    color: white; /* Video üzərində ümumi mətn rəngi */
    overflow: hidden;
}

.hero-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(1.3); /* Videonu biraz tündləşdirmək üçün */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Videonu daha da qaraltmaq üçün yüngül qara overlay */
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    z-index: 1;
}

.hero-content {
    z-index: 2;
    position: relative;

    /* Dəyişikliklər buradadır */
    background-color: rgba(255, 255, 255, 0.514); /* Çox şəffaf ağ fon (20% şəffaflıq) */
    padding: 30px; /* Məzmunun ətrafında boşluq */
    height: 100%;     
    max-width: 650px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Kontainerə yüngül kölgə */
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.2;
    color: black; /* SÖZLƏR QARA RƏNGDƏ */
    text-shadow: none; /* Ağ fonda kölgəyə ehtiyac yoxdur */
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 25px;
    max-width: 490px;
    color: black; /* SÖZLƏR QARA RƏNGDƏ */
    text-shadow: none; /* Ağ fonda kölgəyə ehtiyac yoxdur */
}

.hero-button {
    background-color: #1a4761;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    width: 220px;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #005cb3;
}

@media (max-width: 768px) {
    .hero-container {
        height: 350px;
        justify-content: center; /* Mobil görünüşdə mərkəzlənsin */
    }
    .hero-overlay {
        justify-content: center; /* Mobil görünüşdə mərkəzlənsin */
    }
    .hero-content {
        padding: 20px; /* Mobil görünüşdə paddingi tənzimləyirik */
        margin-left: 0; /* Mobil görünüşdə margin-left sıfırlansın */
        text-align: center; /* Mobil görünüşdə mətn mərkəzlənsin */
        background-color: rgba(255, 255, 255, 0.9); /* Mobil görünüşdə daha az şəffaf ağ fon */
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1rem;
        max-width: 100%;
    }
    .hero-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}